* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* margin-bottom: 2000px; */
}

/* FOOTER */
footer {
    z-index: -999px;
    padding-top: 100px;
    padding-bottom: 50px;
    background: #1c9ba2;
}

footer a {
    margin-right: 27px;
}

footer ul li {
    list-style: none;
}

footer ul li h4 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 23px;
    line-height: 134.09%;
    color: #ffffff;
}

footer ul li p {
    font-weight: 500;
    font-size: 17px;
    /* or 35px */

    color: #ececec;

    opacity: 0.7;
}

footer ul li .special {
    line-height: 203%;
}

/* TESTIMONI */

.testimoni .profil h5 {
    font-weight: 700;
    text-transform: uppercase;
}

.testimoni .profil p {
    color: #A4A4A4;
}

.testimoni {
    /* background: white !important; */
}

/* REC */
.rec {
    background: #51C2D5;
}

.rec .btn-next {
    background: white !important;
    transition: .3s;
}

.rec .btn-next:hover {
    transition: .3s;
    background: rgb(205, 203, 203) !important;
    cursor: pointer;

}

.rec .btn-prev {
    background: #51C2D5 !important;
    border: solid 2px white !important;
}


.rec h3,
.rec .subtitle,
.rec .more {
    color: white !important;
}

/* FLASH */
.flash .more {
    margin-right: 30px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    color: #51C2D5;
}

.flash .cardz {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.flash .cardz span {
    color: #51C2D5;
}

.flash .cardz-body p {
    font-size: 14px;
    line-height: 17px;
    color: #A4A4A4;
}

.flash .cardz-body p span {
    color: #51C2D5;
}

.flash .cardz-body {
    height: 230px;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 25px 30px;
    background: white;
}

.flash .btn-prev {
    border: 2px solid #51C2D5;
    border-radius: 8px;
    background: white;
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 45px;
}

.flash .btn-prev:hover {
    cursor: pointer;
}

.flash .btn-next {
    text-align: center;
    background: #51C2D5;
    border: 2px solid #51C2D5;
    border-radius: 8px;
    width: 52px;
    height: 52px;
    line-height: 45px;
    transition: .3s;
}

.flash .btn-next:hover {
    transition: .3s;
    background: rgb(66, 161, 177) !important;
    cursor: pointer;
    border: 2px solid #51C2D5;
}


.flash h3 {
    font-weight: 700;
    font-size: 30px;
    color: #51C2D5;
}

.flash h4 {
    font-size: 22px !important;
    font-weight: 600;
    color: #010223;
}

.flash .deadline {
    margin-bottom: -5px;
    font-weight: bold;
    font-size: 16px;
    background: #51C2D5;
    padding: 6px 20px;
    border-radius: 4px;
    color: white;
    margin-left: 20px !important;
}

.flash .subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #A4A4A4;
}

/* CAT */

#category {
    background: #ecf9fc;
}

#category .title {
    font-weight: 700;
}

#category h2 {
    font-weight: 700;
}

#category .card {
    background: none;
    border: none;
    border-top: 6px solid #ecf9fc;
    transition: .3s;
}

#category .card:hover {
    /* background: #a3e2f023; */

    cursor: pointer;
    border: none;
    border-top: 6px solid #9ddfee;
    transition: .3s;
}

/* NAV */
nav ul li a {
    margin: 0 20px;
}

nav .navbar-nav {
    margin-right: 175px !important;
}

/* nav ul li:nth-child(6) a {
    margin: 0 0;
} */

nav svg {
    margin-right: 60px;
}

nav svg:nth-child(2) {
    margin-right: 30px;
}